[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/warlord500/blackburn.git
[submodule "static/A_guide_to_visiting_canada"]
	path = static/A_guide_to_visiting_canada
	url = https://github.com/warlord500/a_guide_to_visiting_canada.git
[submodule "content/cs-135"]
	path = content/cs-135
	url = https://github.com/warlord500/cs-135s.git
[submodule "static/cs-135s"]
	path = static/cs-135s
	url = https://github.com/warlord500/cs-135s.git
