RewriteEngine on

#RewriteCond %{HTTP_REFERER} !^http://jadonbelezos.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://jadonbelezos.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://wh470177.ispot.cc/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://wh470177.ispot.cc$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.jadonbelezos.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.jadonbelezos.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.wh470177.ispot.cc/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.wh470177.ispot.cc$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://jadonbelezos.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://jadonbelezos.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://wh470177.ispot.cc/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://wh470177.ispot.cc$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.jadonbelezos.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.jadonbelezos.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.wh470177.ispot.cc/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.wh470177.ispot.cc$      [NC]
#RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]


# custom .htaccess below
ErrorDocument 404 /404/
RewriteCond %{HTTPS} off [OR]
#RewriteCond %{HTTP_HOST} ^www\.jadonbelezos\.com [NC]
#RewriteRule (.*) https://jadonbelezos.com/$1 [L,R=301]